.demo{
    margin-left:100px;
    top: 20px;
    

}
.demo2,li{
    display:inline;
    word-spacing: 50px;
    position: relative;
    bottom: 30px;
    left: 214px;
    font-size: 26px;
    
}
.demo3{
    margin: 0;
    position: relative;
    bottom: 26px;
}
.demo4{
    text-align: center;
    position: relative;
    top:20px;
    
}
.demo5{
    text-decoration-color: red;
    text-decoration: underline;
    text-decoration-color: red;

}
.demo6{
    position:relative;
    top:60px;
    left:85px;
}
.demo7{
    position: relative;
    left:545px;
    bottom: 108px;
}
.demo8{
    position: relative;
    left: 1030px;
    bottom: 275px;
}
.demo9{
    position: relative;
    bottom: 273px;
    left:185px;
}
.demo10{
    background-color: grey;
    width: 100%;
    height: 500px;
    position: relative;
    bottom: 240px;
    opacity: 0.2;
}
.demo11{
    position: relative;
    bottom: 656px;
    left:110px

}
.demo12{
    text-transform: uppercase;
    position: relative;
    bottom: 615px;
    left:116px;

}
.demo13{
    position: relative;
    bottom: 613px;
    left: 115px;
}
.demo14{
    position: relative;
    bottom: 922px;
    left: 653px;
}
.submit{
    border: transparent;
    height: 47px;
    background-color: red;
    color: #eaedf0;
    position: relative;
    bottom: 980px;
    left: 117px;
    width: 10%;
    border-radius: 5px;

}
.nachith{
    background-color: red;
    text-align: center;
    position: relative;
    padding-right: 600px;
    color: azure;

}
.demo20{
    border-right-width: 10px;
    position: relative;
    border-right-style: solid;
    border-right-color: beige;
    color: white;
    
    bottom: 2879px;
    left: 600px;

}
.demo25{
    position: relative;
    color: white;
    left: 1108px;
    bottom: 2918px;

}


